# Virtual Environment
.venv/
venv/
env/

# Python Cache
pycache/
.pyc

# macOS
.DS_Store
._
__MACOSX/

# IDE
.vscode/

# Logs
*.log

# Environment Files
.env

# Streamlit
.streamlit/secrets.toml

# Generated Configs
*.bak